.central_container
  .header
    .title
      %h1=t('.title')
    .products_order
      =select_tag(:product_order, options_for_select(orders_for_products), data: {action: order_products_path})
  .products_list
    = render partial: 'products_list'
.cart
  = render partial: 'cart'
  